body{
    font-family: 'Poppins', sans-serif;
}

     /*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<welcome section-1>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


.welcome-padding{
        margin-top: 100px;  
        padding-left: 10px;
        border-left: 7px solid;
        border-image: linear-gradient(salmon, tomato);
        border-image-slice: 1;  
    
}

.flexibility{
    display: flex;
    margin-bottom: 150px;
    
}
.half-width-1{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width-1 img{
    width: 100%;
    margin-top: 75px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;

}
h1{
    font-family: 'Secular One', sans-serif;
    font-size: 50px;
    margin: 0;

}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Diffrnet-language-section-2>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/



.half-width-2{
    width: 50%;
}
.half-width-2 img{
    width: 50%;
    padding-left: 10%;
}

.align{
    text-align: center;
    padding-bottom: 50px;
}
.orange{
    color: orange;
}

.c-item-1{

    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    background-color: rgba(97, 46, 46, 0.2);
    border-radius: 10px;
}
.c-item-1 img{
    width: 150px;
}

.java-item-2{

    width: 70%;

    padding: 30px;
    background-color: rgba(92, 154, 158, 0.2);
    border-radius: 10px; 
}
.java-item-2 img{
    width: 90px;
}
.python-item-3{

    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    background-color: rgba(185, 197, 130, 0.788);
    border-radius: 10px;
  
  
}
.python-item-3 img{
    width: 150px;
}
.position-image{
    position: center;
    width: 2%;

}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< section-3>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.section-3-half-width{

    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
    padding-right: 5%;
}

.section-3-1-half-width img{
    width: 60%;
    margin-left: 30%;
    

}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< about-me-section-4>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


#top-margin{
    margin-top: 20%;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< about-me-section-5>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#top-margin-2{
    margin-top: 3%;
}


.Mission-item-4{

    position: center;
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 5%;
    padding: 2%;
    background-color: rgba(97, 46, 46, 0.2);
    border-radius: 10px; 
}

.half-width-3{
    width: 50%;
    padding-left: 30%;
}
.half-width-3 img{
    width: 100%;
    position: center;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< footer-section-6>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.last{
    background: black;
}
.white{
    color: white;
}